
html {
    margin: 0;
    padding: 0;
    font-size: .625em;
    font-size: calc(1em * .625);
    background-color: #FFFFFF;
}
/*mobile first*/

body {
    display: flex;
    flex-direction: column;
    font-size: 1.4em; /* base font-size equivalent à "14px"*/
    font-family: calibri, arial, sans-serif;
    background-color: #FFFFFF;
    color: black;
    border : 1px solid black;
}

/*------partie en-tête du CV-----*/

header{
    
    text-align: center;
    padding-top: 1.5vw;
    margin-bottom: 3vw;
}

h1 {/* Titre principal Julie Beguier*/
    font-size: 5rem;
    font-weight: normal;/*ne sera plus en gras*/
    text-transform: uppercase;/*texte en capitale*/
    margin-bottom: 0;
}

.firstname-color {
    color: #34667D;
}

.subtitle-header {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 2rem;
}

.under-dev {
    text-decoration: underline #34667D;
}

/* -----partie principale du CV-----*/

main{
    order: 1;
    padding: 0 4vw;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.fa-user-graduate,
.fa-briefcase,
.fa-thumbs-up {/*icones titre h2*/
    font-size: 2.5rem;
    color: #34667D;
}

.fa-dot-circle,
.fa-circle {/*icones point*/
    font-size: 1rem;
    color: #34667D;
    margin-bottom: 15px;
}

h2 {/*formations, experiences, recommandation.*/
    margin-top: 5vh;
    margin-bottom: 20px;
    border-bottom: 3px #34667D solid;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.padding-left-title {
    padding-left: 1vw;
}

.pmain {
    margin-top: 2vh;
    width: 55vw;
    text-align: justify;
}

.list-organisation {/*élements des listes dans le "main" mis en page*/
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 0;
    margin-right: 0;
}

.list-organisation-recommandation{
    text-align: center;
}

/*------partie à propos de moi "div"------*/

div{
    background-color: #34667D
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-cv{
    border: 2px black solid;
    border-radius: 250px;
}

h3 {/*titre de la div*/
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.h3-background{/*fond des titres dans la div*/
    margin-top: 0;
    padding: 1vh 0;
    background-color: black;
    color: #34667D;
}

address{
    text-align: center;
}

.padding-20 {
    padding: 4vh 4vw;
    line-height: 2.5rem;
    text-align: justify;
}

.list-hobbies {
    display: flex;
    justify-content: space-around
}

.fa-biking,
.fa-mountain,
.fa-globe-europe {
    margin: 5vh 1vw;
    font-size: 3.5rem;
  	border: 2px black solid;
  	border-radius: 250px;
    width: 55px;
    height: 55px;
 }

.fa-globe-europe::before {
 	position:relative;
 	top:11px;
    margin-left: 11px;
}

.fa-mountain::before{
 	position:relative;
 	top:9px;
    margin-left: 5px;
 }

.fa-biking::before{
 	position:relative;
 	top:10px;
    margin-left: 5px;
 }


/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {

    .list-organisation-recommandation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {

    body{
        flex-direction: row;
    }

    .pmain {
        margin-left: 0;
        padding-left: 5vw;
        width: auto;
    }

    div{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: auto;
    }

    .padding-20 {
        padding: 20px;
        text-align: justify;
    }

    .padding-10{
       display: flex;
    }

    .list-organisation i{
        margin: 5px 10px 0 0;
    }

}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {

    body {
        margin: auto;
        max-width: 950px;
    }

    header {
        text-align: left;
    }

    h2 {
        text-align: left;
    }
}




















