
html {
    margin: 0;
    padding: 0;
    font-size: .625em;
    font-size: calc(1em * .625);
    background-color: #FFFFFF;
}
/*mobile first*/

body {
    display: flex;
    flex-direction: column-reverse;
    word-wrap: break-word;/* permet que les lignes de textes ne soient pas coupées */
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    font-size: 1.4em; /* base font-size equivalent à "14px" */
    font-family: calibri, arial, sans-serif;
    background-color: #FFFFFF;
    background: fixed;/*le fond restera fixe lorsque je dois mettre une image*/
    color: black;
}

header {/* partie en-tete*/
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

h1 {/* Titre principal Julie Beguier */
    margin-bottom: 15px;
    font-size: 5rem;
    font-weight: normal;/*ne sera plus en gras*/
    text-transform: uppercase;/*texte en capitale*/
}

.firstname-color {
    color: #34667D;
}

.subtitle-header {
    font-size: 2rem;
}

.under-dev {
    text-decoration: underline #34667D;
}

main {/*partie principale*/
    position: relative;
    top: 25vh;
    padding: 0 4vw;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

/* partie Main*/

.fa-user-graduate,
.fa-briefcase,
.fa-thumbs-up {/*icones titre h2*/
    font-size: 2.5rem;
    color: #34667D;
}

.fa-dot-circle,
.fa-circle {/*icones point*/
    font-size: 1rem;
    color: #34667D
}

h2 {/*formations, experiences, recommandation.*/
    padding-top: 2vh;
    border-bottom: 3px #34667D solid;
    font-size: 2.5rem;
    font-weight: bold;
}

.padding-left-title {
    padding-left: 2vw;
}

h3 {/*titre de la div*/
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

strong {
    font-size: 1.7rem;
}

.pmain {
    margin-top: 2vh;
    width: 55vw;
    text-align: justify;
}

.list-organisation {/*élements des listes dans le "main" mis en page*/
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 0;
    margin-right: 0;
}

/* Partie DIV */
div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 25vh;
    margin: 0;
    background-color: #34667D
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-cv{
    border: 2px black solid;
    border-radius: 250px;
}

.h3-background{/*fond des titres dans la div*/
    margin-top: 0;
    padding: 1vh 0;
    background-color: black;
    color: #34667D;
}

.padding-20 { /* décalage de 20px du texte "a propos" dans div*/
    padding: 3vh 10vw;
    line-height: 2.5rem;
    text-align: justify;
}

/*section hobbies*/
.list-hobbies {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-evenly;
    list-style-type: none;
}

 .fa-biking,
 .fa-mountain,
 .fa-globe-europe {
    margin: 5vh 1vw;
  	border: 2px black solid;
  	border-radius: 250px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 3rem;
 }

.fa-globe-europe::before {
 	position:relative;
 	top:11px;
}

.fa-mountain::before{
 	position:relative;
 	top:9px;
 }
.fa-biking::before{
 	position:relative;
 	top:10px;
 }

/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {

    body {
        margin: auto;
        text-align: justify;
    }

    h1 { /* Titre principal Julie Beguier */
        font-size: 6rem;
    }

    .subtitle-header {
        font-size: 3rem;
    }

    main {
        margin-top: 70px;
    }

    div {
        position: relative;
        top: 30vh;
    }

    .fa-dot-circle,
    .fa-circle { /*icones point*/
        padding-top: 0.5vh;
        padding-right: 1vw;
    }

    /*organisation mise en page partie formation, expe, recommand*/
    .padding-10 {
        display: flex;
        flex-direction: row;
    }

    address {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        line-height: 3rem;
    }

    h3 {
        text-align: center;
    }
    .list-organisation-recommandation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {

    body {
        height: 100%;
        max-width: 100%;
    }
    header {/* partie en-tete*/
        max-width: 100%;
        text-align: left;
        margin-left: 350px;
        padding-left: 4vw;
    }

    main {
        max-width: 100%;
        margin-left: 350px;
        margin-top: 0;
    }

    .pmain {
        word-wrap: break-word;
        margin-top: 1.5vh;
        padding-left: 4vw;
        padding-right: 0;
        width: 100%;
        text-align: justify;
    }

    h2 {
        text-align: left;
    }

    div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        max-width: 350px;
        height: 1450px;
    }

    .padding-20 { /* décalage de 20px du texte "a propos" dans div*/
        padding: 3vh 3vw;
        text-align: justify;
        line-height: 2.5rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {


    .pmain {
        word-wrap: break-word;
        margin-top: 1.5vh;
        padding-left: 6vw;
        padding-right: 0;
        text-align: justify;
    }

    h2 {
        text-align: left;
    }

    div {
        height: 1220px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {

    body {
        margin: auto;
        height: 100%;
        max-width: 100%;
    }

    main {
        margin-top: 30px;
        max-width: 100%;
    }

    .pmain {
        padding-left: 15vw;
    }

    div {
        height: 1200px;
    }

    .fa-biking,
    .fa-mountain,
    .fa-globe-europe {
        margin: 1vh 1vw;
        text-align: center;
    }
}















